<% layout("layouts/boilerplate.ejs") %>
<body>
  <h1><%= list.title%></h1>
  <p><%= list.discription%></p>
  <img src="<%= list.image %>" alt="" />
  <form action="/listings/<%= list._id %>/edit" method="get">
    <button>Edit list</button>
  </form>
  <form action="/listings/<%= list._id %>?_method=DELETE" method="post">
    <button>Delete</button>
  </form>
</body>
