<% layout("layouts/boilerplate.ejs") %>
<body>
  <div class="d-flex flex-column align-items-center">
    <div>
      <h1><%= list.title%></h1>
      <img
        src="<%= list.image %>"
        alt=""
        class="listImage rounded mx-auto d-block"
      />
      <div>
        <p class="mt-3"><%= list.discription%></p>
        <p class="font-weight-bold h3">
          &#8377;<%= list.price.toLocaleString("en-in")%> / night
        </p>
        <div class="d-flex flex-row gap-5">
          <p><i class="fa-solid fa-location-dot"></i><%= list.location%></p>
          <p><i class="fa-solid fa-globe"></i><%= list.country%></p>
        </div>
      </div>
    </div>
    <div class="btn">
      <form action="/listings/<%= list._id %>/edit" method="get">
        <button type="submit" class="createBtn">Edit List</button>
      </form>
      <form action="/listings/<%= list._id %>?_method=DELETE" method="post">
        <button type="submit" class="createBtn">Delete List</button>
      </form>
    </div>
  </div>
</body>
